.root {
}
.span1 {
    font-size: 120px;
}
.div1 {
    position: static;
    z-index: 1;
    top: 100px;
    align-items: center;
    align-content: start;
}
.span2 {
    font-size: 24px;
    align-content: center;
    font-weight: 200;
}
